.blog {
    background-color: #F8FAFC;
    padding-bottom: 120px;

}


.blog__heading {
    color: #2D3958;
    text-align: center;
    font-family: Outfit;
    font-size: 48px;
    font-weight: 500;
    line-height: 116.667%;
    padding: 20px 0px;
    margin-bottom: 60px;

}


.blog__content {

}

.blog__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    padding: 10px 0px 25px 0px;
    border-bottom: 1px solid #E7E5EA;

}

.blog__item:hover {
    cursor: pointer;
}

.blog__item:hover .blog__name {
    text-decoration: underline;
    color: #4F77FF;

}

.blog__img {
    width: 100%;

}

.blog__name {
    color: #2D3958;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;

}

.blog__sub {
    color: #7B88A8;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;

}

.blog__time {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    color: #7B88A8;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;

}

.blog__day {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;


}

.blog__day i {
    font-size: 18px;
    color: #4F77FF;

}

.blog__day p {
    padding-top: 5px;

}

.blog__read {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.blog__read i {
    font-size: 18px;
    color: #4F77FF;

}

.blog__read p {
    padding-top: 5px;

}

// blog more
.blog-more__head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;

}

.blog-more__img {
    width: 50%;

}