.blog {
    background-color: #F8FAFC;
    padding-bottom: 120px;

}


.blog__heading {
    color: #2D3958;
    text-align: center;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 500;
    line-height: 116.667%;
    padding: 20px 0px;
    margin-bottom: 60px;

    @media (max-width: 575px) {
        
        
    }
        
    @media (min-width: 575px) {
      
            
    }
        
    @media (min-width: 768px) {
      
            
    }
        
    @media (min-width: 992px) {
        font-size: 48px;
            
            
    }
    
    @media (min-width: 1200px) {
            
            
    }

}


.blog__content {

}

.blog__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;

    padding: 10px 0px 25px 0px;
    border-bottom: 1px solid #E7E5EA;

}

.blog__item:hover {
    cursor: pointer;
}

.blog__item:hover .blog__name {
    text-decoration: underline;
    color: #4F77FF;

}

.blog__img {
    width: 100%;

}

.blog__name {
    color: #2D3958;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 145.455%;
    height: 100px;

    overflow: hidden;
    display: block;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.blog__sub {
    color: #7B88A8;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;

    overflow: hidden;
    display: block;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    @media (max-width: 575px) {
        
        
    }
        
    @media (min-width: 575px) {
      
            
    }
        
    @media (min-width: 768px) {
        -webkit-line-clamp: 2;
        
        
    }
    
    @media (min-width: 992px) {
        
        
    }
    
    @media (min-width: 1200px) {
        -webkit-line-clamp: 3;
            
    }

}

.blog__time {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;

    color: #7B88A8;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;

}

.blog__day {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;


}

.blog__day i {
    font-size: 18px;
    color: #4F77FF;

}

.blog__day p {
    padding-top: 5px;

}

.blog__read {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

}

.blog__read i {
    font-size: 18px;
    color: #4F77FF;

}

.blog__read p {
    padding-top: 5px;

}

// blog more
.blog__name-second {
    color: #2D3958;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 400;
    line-height: 136%;
    height: 118px;

    overflow: hidden;
    display: block;
    display: -webkit-box;   
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;


}

.blog__item--more {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    width: 100%;

}

.blog-more__img {
    width: 100px;

}

.blog__item:hover .blog__name-second {
    text-decoration: underline;
    color: #4F77FF;

}