.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
    padding: 0px 30px;

}

.img__heading {
    color: #2D3958;
    text-align: center;
    font-family: Outfit;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 112.5%;
    padding: 120px 20px 90px 20px;

}

.img__content {
    margin-bottom: 70px;
}

.img__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;

}

.img__item {
    border-radius: 20px;
    overflow: hidden;

}

.img__item img {
    width: 100%;
    height: 100%;
    transition: scale 400ms;

}

.img__item img:hover {
    cursor: pointer;
    scale: 120%;

}

.img__btn {
    padding: 18px 32px;
    border-radius: 5px;
    background-color: #E7E5EA;
    color:  #7B88A8;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 500;
    line-height: 160%;
    text-transform: uppercase;
    transition: background-color 0.4s;

}

.img__btn:hover {
    cursor: pointer;
    background-color: #c6c5c9;

}